/*
$w1: #fff

$k1: #000
$k2: #303030

$g1: #F5F5F5
$g2: #eee
$g3: #E0E0E0
$g4: #C2C2C2
$g5: #7F7F7F
$g6: #3e3e3e

$b1: #38A5E9
$b2: #0F8FDD
$b3: #2F4D7B

$r1: #E93838
$r2: #fbb

$orange: #ff9900

*/

.bs-docs-header p {
  color: #ADC7F0;
}