- # TODO: this doesnt work
- data_source = current_account.send(field.reflection.name.to_s.pluralize)
= render :partial => 'bhf/entries/form/belongs_to/select', :locals => {:data_source => data_source, :field => field, :f => f}