- ref_object = f.object.send(field.reflection.name)
.node
  .label
    %p= f.object.class.human_attribute_name(field.reflection.name)
  .input
    - if ref_object.blank?
      = t 'bhf.helpers.entry.empty'
    - else
      = ref_object.to_bhf_s