= node f, field do
  - base = f.object.class.respond_to?(:base_class) ? f.object.class.base_class : f.object.class
  - list = base.descendants.map do |x|
    - [x.to_s.sub(base.to_s,'').titleize, x.to_s]
  = f.select :type, list
