html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica;
  font-size: 14px;
  padding: 40px; }

header {
  display: block;
  overflow: hidden;
  clear: both;
  margin-bottom: 40px; }
  header li {
    float: left;
    margin-right: 20px;
    font-size: 20px; }
    header li.active a {
      color: green; }

form .node {
  padding: 10px 0px;
  border-top: 1px solid #cccccc; }

form .errors label {
  color: red;
  cursor: pointer;
  display: block; }
  form .errors label:hover {
    color: #ff9900; }
form .label .field_with_errors {
  color: red; }
form .input .field_with_errors input {
  border-color: red; }
