- value = f.object.send field.name
- if value
  = node f, field do
    - if field.display_type === :primary_key
      %strong= value
    - elsif field.display_type === :date
      = l value, :format => :short
    - else
      = value