- link_title = t('bhf.helpers.entry.edit', platform_title: object.to_bhf_s)

= link_to bhf.edit_entry_url(platform_name, object, {return_to: request.original_url}.merge(area ? {bhf_area: area} : {})), class: 'bhf_edit', data: {:'no-turbolink' => true}, title: link_title do
  = block ? block : link_title
