.node{class: field.form_type}
  .label= f.label field.name
  .input
    = input
    = render partial: 'bhf/helper/field_errors', locals: {f: f, field: field.name}
    = render partial: 'bhf/helper/info', locals: {info: field.info}
