.node
  .label
    %p= f.object.class.human_attribute_name(field.reflection.name)
  .input
    = input
    = render :partial => 'bhf/helper/field_errors', :locals => {:f => f, :field => field.reflection.name}
    = render :partial => 'bhf/helper/info', :locals => {:info => field.info}