- ref_objects = f.object.send(field.reflection.name)
.node
  .label
    %p= f.object.class.human_attribute_name(field.reflection.name)
  .input
    - if ref_objects.blank?
      = t 'bhf.helpers.entries.empty'
    - else
      %ul
        - ref_objects.each do |obj|
          %li= obj.to_bhf_s