= reflection_node f, field do
  - ref_objects = f.object.send(field.reflection.name)
  - if ref_objects.blank?
    = t 'bhf.helpers.entries.empty'
  - else
    %ul
      - ref_objects.each do |ref_object|
        %li
          - if field.link
            = link_to ref_object.to_bhf_s, edit_entry_path(field.link, ref_object)
          - else
            = ref_object.to_bhf_s