- fk = field.reflection.primary_key_name
.node
  .label= f.label fk
  .input
    = f.select fk, options_from_collection_for_select(field.reflection.klass.all, :id, :to_bhf_s, f.object.send(fk))
    = render :partial => 'bhf/helper/field_errors', :locals => {:f => f, :field => fk}