- ref_object = f.object.send(field.reflection.name)
.node
  .label
    %p
      - if ref_object
        = ref_object.to_bhf_s
      - else
        = field.reflection.klass.to_bhf_s
  .input
    - if ref_object
      = ref_object.to_bhf_s
    - else
      empty