= content_tag link ? :a : :span, class: ('quick_edit' if add_quick_link), href: (link if link) do
  - base = object.class.respond_to?(:base_class) ? object.class.base_class : object.class
  = column_value.sub(base.to_s, '').titleize
