- type = column.field.type(true)
- link = edit_entry_path(platform.name, object)
- pk = object.class.primary_key

- if pk === column.name
  %strong
    = link_to object.send(column.name), link, {:class => type}
- elsif type === :date && date = object.send(column.name)
  = link_to l(date, :format => :short), link, {:class => type}
- else
  = link_to object.send(column.name) || '', link, {:class => type}